.header-title {
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  height: 70px;
  margin-bottom: 50px;
  position: sticky;
  width: 100%;
  color: #fff;
  background-color: #f0000f;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.select-content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.null-text-wrapper {
  padding-top: 50px;
}

.province-name {
  font-size: 32px;
  font-weight: bold;
}

.select {
  width: 40%;
}

.data-wrapper {
  padding-top: 50px;
  width: 70%;
}

.data-number {
  font-size: 32px;
  font-weight: bold;
}

.positive-box {
  height: 120px;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  background-color: #d2e0f7;
  color: #00f;
  border: solid 1px #00f;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.sembuh-box {
  height: 120px;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  background-color: #dcfae1;
  color: #086115;
  border: solid 1px #086115;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.meninggal-box {
  height: 120px;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  background-color: #fae1e1;
  color: #f01a1a;
  border: solid 1px #f01a1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d1cece;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4%;
}

.footer-link {
  margin-left: 3px;
  text-decoration:none;
}

@media (max-width: 768px) {
  .select {
    width: 95%;
  }

  .data-wrapper {
    padding-top: 50px;
    width: 95%;
  }

  .province-name {
    font-size: 22px;
    font-weight: bold;
  }
}